.slick-prev:before, .slick-next:before { color: #CCC; }

.slick-next { right: 2px; }
.slick-prev { left: 2px; }

.carousel-modal .slick-next { right: 18px; width: 36px; height: 36px; }
.carousel-modal .slick-prev { left: 18px; width: 36px; height: 36px; }
.carousel-modal .slick-next:before, .carousel-modal .slick-prev:before { font-size: 36px; }

.slick-dots li button:before { font-size: 8px; }

.carousel-modal .slick-dots li button:before { color: #FFF; }

.slick-dots { bottom: -25px; }

.carousel-modal .slick-dots { bottom: -23px; }

.carousel-modal, .carousel-modal .slick-list, .carousel-modal .slick-track { height: 100%; }

.carousel-modal .slick-slide { text-align: center; }
.carousel-modal img { display: inline; }

/* Fixes weird glitch where a 1px sliver of the next image in a carousel is sometimes visible, due to how percentage widths are rounded */
.carousel:after {
  content: ' ';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fFF;
  top: 0px;
  right: 0px;
}