.header { margin-bottom: 1.6vw; }

.carousel img { width: 100%; height: auto; }

.footer { margin: 24px 0 12px; text-align: center; font-size: 18px; }

/* Non-mobile devices */
@media (min-width: 600px) {
  .container { margin: 3.4vw 4vw 0; }
  .carousel.left { width: 26.4%; float: left; }
  .carousel.right { width: 70.4%; float: right; }
  .header { padding-left: 14.4vw; }
}

/* Mobile devices */
@media (max-width: 599px) {
  .container { margin: 3.2vw 0 0; }
  .carousel { margin-bottom: 50px !important; }
  .footer { margin-bottom: 36px; }
}