.overlay {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 100%; /* 9% when shown */
  width: 100%;
  height: 80%;
  background-color: #000;
  text-align: center;
}

.close {
  z-index: 100;
  position: absolute;
  display: block;
  height: 24px;
  top: 8px;
  right: 2px;
  font-size: 36px;
  font-weight: normal;
  line-height: 18px;
  color: #CCC;
}
