@font-face {
  font-family: 'Gotham-Thin';
  src: url('Gotham-Thin.eot?#iefix') format('embedded-opentype'),
       url('Gotham-Thin.otf')  format('opentype'),
       url('Gotham-Thin.woff') format('woff'),
       url('Gotham-Thin.ttf')  format('truetype'),
       url('Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

body { font-family: 'Gotham-Thin'; }

h1 { font-size: 4.2vw; }

a { color: #000; text-decoration: none; }
a:hover, a > img:hover { opacity: 0.75; }

/* Mobile devices */
@media (max-width: 849px) {
  h1 { font-size: 36px; }
}

@media (max-width: 599px) {
  h1 { text-align: center; }
}