html{
	background-color: #333;
}

body {
	background-color: #F6F8FF;
	background-image:url('../img/paper.png');
	background-repeat:no-repeat;
	background-size:100%;
	background-position: .5in 1in;
	font-family: 'Gill Sans', 'Futura', 'Georgia';
	color: #000;
	line-height: 1.2em;
	width: 6.5in;
	padding: 1in;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	min-height: 9in;
}

name, contact, content {
	opacity: 0.67;
}

name, 

name {
	float: left;
	font-size: 2em;
	text-decoration: underline;
	height: 0px;
}

contact {
	display: block;
	height: 2em;
	text-align: right;
}

content {
	display: block;
	padding-top: 1.25in;
	text-align: center;
	width: 4.5in;
	margin: auto;
}

section:first-line {
	text-decoration: underline;
}

section {
	margin-bottom: 1em;
}

p {
	text-align: left;
	margin-bottom: 0em;
}

job {
	display: block;
	margin-bottom: 0em;
}

btn {
	font-family: 'Menlo', 'Courier';
	padding-left: 0.33em;
	padding-right: 0.33em;
	border-radius: 1em;
	box-shadow: inset 0px 0px 4px #999;
}

.accordion-toggle:before
{ 
content: <btn>+</btn>;
}

blurb {
	text-align: center;
	display: block;
	margin-bottom: 1em;
}

blurb:first-line {
	font-style:italic;
}

a:hover{opacity: 0.5;}
