html{
	background-color: #333;
}

body {
	background-color: #F6F8FF;
	background-image:url('../img/paper.png');
	background-repeat:no-repeat;
	background-size:100%;
	background-position: .5in 1in;
	font-family: 'Gill Sans', 'Futura', 'Georgia';
	color: #000;
	line-height: 1.2em;
	width: 7.5in;
	padding: 1in;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	min-height: 9in;
}

name, contact, content {
	opacity: 0.67;
}

name {
	float: left;
	font-size: 2em;
	text-decoration: underline;
	height: 0px;
}

contact {
	float: right;
	text-align: right;
}

content {
	display: block;
	padding-top: 1.375in;
	text-align: center;
	width: 4.5in;
	margin: auto;
}

section {
	display: block;
	margin-bottom: 1.2em;
}

section:first-line {
	text-decoration: underline;
	text-align: center;
}

p {
	text-align: left;
	margin-bottom: 0px;
}

blurb {
	/*color: #777;*/
	text-align: center;
	display: block;
}

blurb:first-line {
	font-style:italic;
}

a:link{color:#069; font-style: normal;}

a:hover{opacity: 0.5;}
