body {
	width: 800px;
	background-color: #eee;
	font-family:"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;font-size:14px;line-height:1;
}

#warren {
	background-color: #5f5;
}

#no_change {
	background-color: #fd0;
}

#no_action {
	background-color: #fa0;	
}

#gop_plan {
	background-color: #f55;	
}

.warren {
	background-color: #5f5;
}

.no_change {
	background-color: #fd0;	
}

.no_action {
	background-color: #fa0;	
}

.gop_plan {
	background-color: #f55;	
}

.graph {
/* 	box-shadow: 0px 0px 5px #888888; */
	border-radius: 2px;
	border:1px solid #ccc;
	height: 2.6em;
	margin-bottom: 0.4em;
	/* margin-bottom: 5px; */
	width: 0px;
	margin-right: 1px;
}

.width {
	width: 95px;
}

.right {
/* 	box-shadow: 10px 10px 5px #888888; */
	text-align: right;
	position: relative;
	right: 5px;
}

.fixed {
	width: 700px;
	overflow-x: auto;
}

.fixed-alt {
	width: 800px;
	overflow-x: auto;
}

.test {
	position: relative;
	top: 3px;
	color: #333;
	margin-left: 5px;
	height: 0px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

table.center {
	margin:auto; 
}

td {
	text-align: left;
	vertical-align: top;
}

.spaced-p {
	color: #333;
	border:1px solid #ccc;
	text-align: right;
	height: 34px;
	margin-top: 0px;
	margin-bottom: 6px;
	margin-right: 1px;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 5px;
}

.center {
	text-align: center;
}

.spaced {
	line-height: 1.4em;
}

.color-sample {
	border:1px solid #ccc;
	margin-right: 0.2em;
	padding-right: 1.2em;
	margin-left: 1em;
}

.hidden {
	display: none;
}

.hidden2 {
	display: none;
}

.legend {
	display: none;
}

.hidden3 {
	display: none;
}

#fb-share {
	height: 30px;
	width: 160px;
}

#fb-upload, #fb-uploading {
	height: 30px;
	width: 160px;
	margin-top: 8px;
	margin-bottom: 8px;
}

textarea {
	margin-bottom: 8px;
}

img {
	vertical-align: -4px;
}

textarea {
    resize: none;
    width: 500px;
    height: 55px;
    font-family: "Helvetica";
}